.page {
    .title {
        border-bottom: 1px solid rgb(154, 154, 154);
        padding-bottom: 10px;
    }

    .chart_category__container {
        h2 {
            margin-bottom: 10px;
        }
        
        .categories {
            display: flex;
            gap: 12px;
            margin-bottom: 20px;

            .categories__btns {
                display: flex;
                gap: 12px;
            }

            button {
                cursor: pointer;
                font-size: 18px;
                border-radius: 5px;
                border: none;
                padding: 8px 12px;
                transition: 0.3s;
                background-color: rgb(65, 90, 254);
                color: white;
            }

            button:hover {
                opacity: 0.3;
            }

            .chart_date {
                display: flex;
                gap: 12px;

                input {
                    height: 36px;
                    width: 100px;
                }
            }
        }
    }

    .charts__container {
        display: flex;
        gap: 10%;

        .chart__container {
            width: 45%;
        }
    }

    .line_charts {
        margin-bottom: 30px;
    }

    .pie_charts {
        gap: 5%;
        justify-content: center;

        .chart__container {
            width: 26%;

            canvas {
                margin-top: -30px;
            }
        }
    }

    .bar_charts {
        gap:  1%;

        .chart__container {
            width: 49%;
        }
    }
}

.btn {
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    transition: 0.3s;
    background-color: rgb(65, 90, 254);
    color: white;
}

.btn:hover {
    opacity: 0.3;
}

.mixedline_chart_finances {
    width: 45%;
    margin: auto;
}

.year_query__container {
    display: flex;
    gap: 10px;
    width: 100%;

    button {
        font-size: 16px;
    }

    div {
        width: 8%;
        
        input {
            height: 35px;
        }
    }
}

.data_err__message {
    color: rgb(187, 38, 38);
    font-size: 14px;
    margin-bottom: 20px;
}

@media (max-width: 960px) {
    .page {
        .charts__container{
            display: block;

            .chart__container{
                width: 100%;

                .chart-container {
                    width: 50%;
                    margin: 20px auto 0 auto;
                }

                .bar_chart__container {
                    width: 100%;
                }
            }
        }

        .mixedline_chart_finances {
            width: 100%;
            margin-top: 20px;
        }
    }
}

@media (max-width: 810px) {
    .page .chart_category__container .categories {
        display: block;

        .chart_date {
            margin-top: 20px;

            .react-datalist-input__container {
                width: fit-content;
            }
        }
    }
}

@media (max-width: 760px) {
    .page {
        .charts__container{
            .chart__container{
                .chart-container {
                    width: 70%;
                }

                .bar_chart__container {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .page .chart_category__container .categories .categories__btns {
        flex-direction: column;
    }
}