.loan_page__header {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(154, 154, 154);

    .title {
        margin: 0 !important;
        border: none !important;
        padding-bottom: 0 !important;
    }

    .add_loan_btn {
        color: rgb(98, 223, 98);
        border: 2px solid rgb(98, 223, 98);
        border-radius: 100%;
        padding: 2px 5.5px;
        font-size: 16px;
        margin: auto 0;
        height: 30px;
        transition: 0.3s;
        font-weight: bold;
    }
    
    .add_loan_btn:hover {
        opacity: 0.6;
    }
}

.break_text {
    word-wrap: break-word;
}

.incomeValue {
    color: rgb(35, 102, 35);
}

.costValue {
    color: rgb(158, 37, 37);
}

.loan_page {
    .finance_main {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        text-align: center;
        width: 100%;
    
        .finance_table_container {
            width: 75%;
    
            .table {
                width: 100%;
    
                .table_titles {
                    display: flex;
                    border-bottom: 1px solid rgb(154, 154, 154);
    
                    .table_title {
                        display: flex;
                        align-items: center;
                        height: 60px;
                        width: 14%;
                        font-size: 18px;
                        color: rgb(104, 104, 104);
                    }
                }
    
                .table_rows_loan {
                    .table_row {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        border-bottom: 1px solid rgb(154, 154, 154);
                        padding: 20px 0 20px 0;
    
                        .table_col:first-of-type {
                            text-align: left;
                        }
    
                        .table_col {
                            width: 14%;
                            text-align: left;
    
                            .date {
                                font-size: 18px;
                            }
    
                            .date_of_creation {
                                font-size: 14px;
                                margin-top: 2px;
                                color: rgb(104, 104, 104);
                            }
    
                            .value {
                                font-size: 18px;
                                max-width: 40%;
                            }
    
                            .value_currency {
                                position: absolute;
                                right: 30%;
                                top: 10%;
                                font-size: 14px;
                            }
    
                            .name {
                                max-width: 80%;
                                font-size:20px;
                            }
    
                            .btn {
                                border-radius: 5px;
                                width: 100%;
                                font-size: 14px;
                                padding: 6px 6px;
                                border: none;
                                color: white;
                            }
    
                            .btn:hover {
                                cursor: pointer;
                                opacity: 0.6;
                            }
    
                            .receipt_btn {
                                background-color: rgb(65, 90, 254);
                                margin-bottom: 5px;
                            }
    
                            .delete_btn {
                                background-color: rgb(177, 49, 49);
                            }
    
                            .edit_btn {
                                background-color: rgb(91, 169, 81);
                                margin-bottom: 5px;
                            }
                        }
    
                        .item_value {
                            position: relative;
                        }
    
                        .item_panel {
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}

.sort_panel_loans {
    width: 22%;
    height: fit-content;
    border-radius: 5px;
    background-color: rgb(213, 213, 213);
    padding: 15px 20px 10px 20px;
    text-align: left;
    margin-top: 20px;

    .sort_con_flex {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .sort__date_title {
            width: 15%;
        }

        .sort__sum_title {
            width: 15%;
        }

        .sort_btns {
            display: flex;
            justify-content: end;
            gap: 5px;
            width: 85%;

            button {
                width: 45%;
                display: flex;
                justify-content: center;
            }
        }
    }

    div {
        margin-bottom: 10px;

        .sort_btns {
            margin-bottom: 0;
        }

        h4 {
            font-size: 18px;
            font-weight: 400;
        }

        input {
            border-radius: 5px;
            margin: 0;
            margin-top: 8px;
            font-size: 16px;
        }

        button {
            display: flex;
            align-items: center;
            border: none;
            color: white;
            background-color: rgb(65, 90, 254);
            border-radius: 5px;
            padding: 3px 8px;
            transition: 0.3s;
            font-size: 14px;

            span {
                font-size: 20px;
            }
        }

        button:hover {
            opacity: 0.5;
        }

        .sort__project_search {
            display: flex;
            width: 100%;
            margin-top: 8px;

            input {
                margin-top: 0;
                border-radius: 5px 0 0 5px;
                border: none;
                width: 80%;
                font-size: 16px;
                padding: 5px;
            }

            button {
                padding: 2px 5px;
                border-radius: 0 5px 5px 0;
                width: 20%;
                display: flex;
                justify-content: center;
            }
        }
    }

    .reset_btn__container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 5px;
        display: flex;
        justify-content: end;

        .reset_btn {
            background-color: rgb(65, 90, 254);
            color: white;
            border-radius: 5px;
            padding: 5px 12px;
            transition: 0.3s;
            border: none;
            font-size: 16px;
        }
    }
}

.sort_panel_non_active {
    display: none;
}

.loan_paid_out {
    text-decoration: line-through;
}

@media (max-width: 1300px) {
    .loan_page .finance_main .finance_table_container .table .table_rows_loan .table_row .item_panel {
        display: block;
    }

    .sort_panel_loans .sort_con_flex .sort_btns button {
        font-size: 12px;
    }

    .loan_page {
        .finance_main {
            .finance__form {
                width: 100%;
                margin-top: 0;
            }

            flex-direction: column;

            .sort_panel_loans {
                width: 100%;

                .sort_con_flex .sort_btns button {
                    width: 40%;
                    font-size: 16px;
                }
            }

            .finance_table_container {
                width: 100%;

                .table_rows, .table_title {
                    word-break: break-all;
                }

                .table .table_rows_loan .table_row { 
                    .item_value {
                        display: flex;
                        gap: 10px;
                
                        .value_currency {
                            position: relative;
                            right: auto;
                            top: auto;
                        }
                    }

                    .item_panel {
                        display: block;
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .loan_page {
        .finance_main {
            .finance_table_container {
                .table {
                    .table_titles {
                        display: none;
                    }

                    .table_rows_loan {
                        .table_row {
                            display: block;

                            .table_col {
                                width: 100%;
                                margin-bottom: 10px;
                                font-size: 18px;

                                .name, .value {
                                    max-width: 100%;
                                }

                                .name::before {
                                    content: "Ім'я / компанія: ";
                                }

                                .value::before {
                                    content: "Місячна сплата: ";
                                }

                                .incomeValue::before {
                                    content: "Дебет: ";
                                    color: black;
                                }

                                .costValue::before {
                                    content: "Кредит: ";
                                    color: black;
                                }

                                .date::before {
                                    content: "Дата оплати: ";
                                }

                                .date_end::before {
                                    content: "Кінцева оплата: ";
                                }
                            
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .loan_page {
        .amount_of_income {
            display: none;
        }
    
        .finance_main {
            .table_rows_loan {
                word-break: break-all;
            }
        }
    
        .add_finance_btn {
            margin-right: 10px;
        }
    
        .finance_main .finance_table_container .table .table_titles1 .table_title {
            word-break: break-all;
        }
    
        .sort_panel_loans div .sort__project_search button {
            width: 40%;
        }

    }
}